body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

header {
  background-color: #80ccff;
  padding: 0 1rem;
}
footer {
  background-color: #ccebff;
  margin-bottom: 0;
}

.basket {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  background-color: blue;
  min-width: 57px;
  min-height: 57px;
  border-radius: 10px;
  padding: 0.3rem 0 0 0.3rem;
}

.basket-quantity {
  position: relative;
  top: 1rem;
  left: 0.2rem;
}

@media (min-width: 767px) {
  .basket {
    bottom: unset;
    top: 7rem;
  }
}

.preloader {
  width: 100%;
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  width: 50rem;
  max-width: 95%;
}

.basket-list button {
  border-width: 0px;
}
